body{
    background-image: url("blog1.jpg");

}
.menu {
    text-align: center;
    background-color: blue;
    font-size: 1.8em;
    border-radius: 1.8em;
}
.a {
    text-decoration: none;
    color: white;
    padding:30px
}
.a:hover{
    text-decoration: underline;
    color: yellow;
    border: 1.8em;
}
h1 {
    text-align: center;
}
.blog {
    padding-left: 3em;
    padding-right: 3em;
    background-color: wheat;
    margin: 0px;
    padding: 0px;
}
.text{
    font-size: 1.3em;
}
